*{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    box-sizing: border-box; 
    font-family: "Halvetica";
}
body { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
    padding: 40px;
}