<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Variefy</title>
    
</head>
<style>
      .hero {
        background: white;
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
      }
    html, body {
    height: 100%;
    width: 100%;
}
body {
background-image: url('images/wallpaper.jpg');
;
color: white;
background-size: cover;
background-repeat: no-repeat;

}
    h1 {text-align: center;}
    h2 {text-align: center;}
    </style>
<body>
    <p>
        <div class="col-lg-20 text-center"></div>
        <h1 class="display-1"><strong>Variefy</strong></h1>
        <h2 style="color: white;">A playlist generator for daring music listeners.</h2>
        <h2 style="color: white;">Please log in with Spotify and come back here...</h2>

       <div id="test">
          <canvas width="100" height="100"></canvas>
       </div>
    </p>

</body>
</html>
